.weather-forecast {
  text-align: center;
  height: 100px;
  margin-bottom: 10px;
}
.forecast-icon {
  width: 100%;
}
.forecast-temps {
  font-size: 0.93em;
}
.forecast-high {
  font-weight: bold;
}
@media (max-width: 550px) {
  .forecast-temps {
    font-size: 0.5em;
  }
  .forecast-icon {
    width: 75%;
  }
  .day {
    font-size: 0.8em;
  }
}
