.main {
  flex-direction: row;
}
.icon {
  text-align: end;
}
.main-temp {
  line-height: 50px;
}

.main-temp h1 {
  font-size: 7em;
  text-align: start;
}
.fahrenheit {
  font-size: 2em;
  color: #212529;
  text-decoration: none;
  position: relative;
  bottom: 125px;
  left: 130px;
}
