.main {
  display: flex;
  flex-direction: row;
}
.icon {
  text-align: end;
}

.main-temp {
  line-height: 50px;
}

.main-temp h1 {
  font-size: 7em;
  margin-left: 10px;
}
.unit {
  font-size: 1.5em;
  color: #212529;
  text-decoration: none;
}
