img {
  display: block;
  width: 100%;
}
.main-temp {
  line-height: 50px;
  position: relative;
  right: 30px;
}

.main-temp h1 {
  font-size: 7em;
}
.fahrenheit {
  font-size: 2em;
  color: #212529;
  text-decoration: none;
  position: relative;
  bottom: 125px;
  left: 168px;
}
