.col-12.other-temps {
  text-align: center;
}
.high-low-main {
  font-size: 1.2em;
}
.feels-like-text {
  font-size: 1.3em;
}
.info {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
}
@media (max-width: 550px) {
  .high-low-main,
  .feels-like-text,
  .info {
    font-size: 1em;
  }
}
